@import "~src/variables.scss";

.page-container {
    margin: 50px 10%;
    @media screen and (max-width: $desktop-large) {
        margin: 30px 5%;
    }
    @media screen and (max-width: $mobile-large) {
        margin: 20px 3%;
    }
    @media screen and (max-width: $mobile) {
        margin: 20px 0;
    }
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: 300px;
    --delay: 100ms;
    @media screen and (max-width: $mobile-large) {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

.article-card {
    animation: entranceAnimation 700ms ease-out;
    animation-fill-mode: backwards;
    margin: 0 auto;
    cursor: pointer;
    width: 450px;
    @media screen and (max-width: $mobile-large) {
        width: 400px;
    }
    @media screen and (max-width: $mobile) {
        width: 350px;
    }
}

.article-card:hover {
    transform: perspective(1px) scale(1.05); 
    transition-duration: 500ms;
}  

@for $i from 1 through 2 {
    .article-card:nth-child(#{$i}) {
        animation-delay: calc(#{$i} * var(--delay));
    }
}
