.article-navigation-container {
    display: flex;
    justify-content: space-between;
}

.navigation-arrow {
    cursor: pointer;
    height: 28px;
    width: 28px;
    border-radius: 14px;
    transform: scale(1);
    transition-duration: 200ms;
}

.navigation-arrow:hover {
    background-color: black;
    color: white;
}

.icon {
    font-size: 28px;
    padding-right: 15px;
}

.tooltip {
    font-size: 14px;
    width: 100px;
}