<div class="navigation-container">
    <div class="navigation-link"
        [routerLink]="['/about']" 
        routerLinkActive="active"
        tabindex="0"
        role="button"
        aria-pressed="false">
        about
    </div> 

    <div class="navigation-link"
        [routerLink]="['/articles']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        tabindex="0"
        role="button"
        aria-pressed="false">
        articles
    </div>

    <a href="https://github.com/michalakadam" target="_blank">
        <img id="github-icon" src="https://i.imgur.com/RdN8sOW.png">
    </a>
    <a href="https://www.linkedin.com/in/michalak-adam" target="_blank">
        <img id="linkedin-icon" src="https://i.imgur.com/oSRGbzd.png">
    </a>
</div>