<div class="navigation-container">
    <div [routerLink]="['/articles']" routerLinkActive="active">
        articles
    </div>

    <div [routerLink]="['/about']" routerLinkActive="active">
        about
    </div> 

    <a href="https://github.com/michalakadam" target="_blank">
        <img id="github-icon" src="https://i.imgur.com/RdN8sOW.png">
    </a>
    <a href="https://www.linkedin.com/in/michalak-adam" target="_blank">
        <img id="linkedin-icon" src="https://i.imgur.com/oSRGbzd.png">
    </a>
</div>