@import "~src/variables.scss";

.about-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 10%;
    @media screen and (max-width: $mobile-large) {
        margin: 0 5%;
    }
}

.background-pic {
    margin-top: 20px;
}

img {
    width: 100%;
    opacity: 75%;
}

h1 {
    @media screen and (max-width: $mobile-large) {
        font-size: 1em;
    }
}

p {
    text-align: justify;
}