<div class="about-container">
    <div *ngIf="isMobileScreen" class="horizontal-pic-container">
        <img id="horizontal-pic" src="https://i.imgur.com/NYNiAx3.jpg">
    </div>
    <div class="section">
        <div class="title" [ngStyle]="{'margin-top': isMobileScreen ? '10px' : '0'}">
            Hi, my name is <span style="color: #d32f2f;">Adam</span>.
        </div>
        <div class="paragraph">
            I develop solutions that are maintainable, useful and intuitive.
        </div>
        <div class="paragraph">
            I believe that adhering to universal principles results in high quality software and more meaningful personal experiences.
            I also believe that every individual has the ultimate power to constitute their own reality and I am determined to make mine beautiful and worthwhile.
            My ultimate aspiration is to be a productive member of society that contributes in a meaningful way to the advancement of our species. 
            I want to be a creative force that maintains and expands order, keeping chaos under control.
            I am working every day to boost the value I create through my work and social interactions. 
        </div>

        <div class="paragraph">
            I am pretty excited to be here. 
        </div>

        <div class="paragraph">
            This page serves as a reservoir of the things I've learned over time. 
            With each article I hope to bring value to the readers and as a side effect develop deeper understanding of concepts and skills.
            This is a place to share my understanding of various practical aspects of programming and heavily tested approaches to living.    
        </div>
    </div>
    <div *ngIf="!isMobileScreen" class="vertical-pic-container">
        <img id="vertical-pic" src="https://i.imgur.com/nH62KPH.jpg">
    </div>
</div>
<a href="https://adam-michalak.site/cv.pdf" download="Adam Michalak - CV.pdf" target="_blank">
    <button mat-raised-button>Download resume</button>
</a>