<div class="background-pic">
    <img src="https://i.imgur.com/xBAJtKV.jpg">
</div>
<div class="about-container">
    <div class="section">
        <h1>
            Who am I ?
        </h1>
        <p>
            Lorem ipsum dolor sit amet, duis ut dapibus urna porta mauris tincidunt, tempor lacus tristique gravida, mauris magna pharetra ac. Vehicula aenean eget ac dapibus ultricies justo, elit cupiditate pharetra. Dui sed at, ullamcorper nunc blanditiis, velit tortor pellentesque fusce, vulputate ligula nonummy. In elementum egestas magnis turpis, neque nullam id, quis blandit pellentesque mauris molestie, est odio wisi vel wisi faucibus. Potenti lacus morbi magna volutpat est, felis mi malesuada congue sapien libero vitae, duis justo lacus ac, aliquam feugiat dolor etiam sem ut, porta arcu. Eget elit duis arcu a, aut nec nibh velit sem id, vivamus saepe elementum justo adipiscing dui, quis vivamus, libero vel cursus quod purus. Tempus quis luctus magna quis rhoncus ac, sapien ac eros rhoncus velit donec ut, odio consequat vel, egestas ac in arcu. Lacinia tristique wisi quis eget molestie metus, semper volutpat sed.
        </p>
    </div>
    <div class="section">
        <h1>
            What do I do ?
        </h1>
        <p>
            Lorem ipsum dolor sit amet, duis ut dapibus urna porta mauris tincidunt, tempor lacus tristique gravida, mauris magna pharetra ac. Vehicula aenean eget ac dapibus ultricies justo, elit cupiditate pharetra. Dui sed at, ullamcorper nunc blanditiis, velit tortor pellentesque fusce, vulputate ligula nonummy. In elementum egestas magnis turpis, neque nullam id, quis blandit pellentesque mauris molestie, est odio wisi vel wisi faucibus. Potenti lacus morbi magna volutpat est, felis mi malesuada congue sapien libero vitae, duis justo lacus ac, aliquam feugiat dolor etiam sem ut, porta arcu. Eget elit duis arcu a, aut nec nibh velit sem id, vivamus saepe elementum justo adipiscing dui, quis vivamus, libero vel cursus quod purus. Tempus quis luctus magna quis rhoncus ac, sapien ac eros rhoncus velit donec ut, odio consequat vel, egestas ac in arcu. Lacinia tristique wisi quis eget molestie metus, semper volutpat sed.
        </p>
    </div>
    <div class="section">
        <h1>
            What is this page for ?
        </h1>
        <p>
            Lorem ipsum dolor sit amet, duis ut dapibus urna porta mauris tincidunt, tempor lacus tristique gravida, mauris magna pharetra ac. Vehicula aenean eget ac dapibus ultricies justo, elit cupiditate pharetra. Dui sed at, ullamcorper nunc blanditiis, velit tortor pellentesque fusce, vulputate ligula nonummy. In elementum egestas magnis turpis, neque nullam id, quis blandit pellentesque mauris molestie, est odio wisi vel wisi faucibus. Potenti lacus morbi magna volutpat est, felis mi malesuada congue sapien libero vitae, duis justo lacus ac, aliquam feugiat dolor etiam sem ut, porta arcu. Eget elit duis arcu a, aut nec nibh velit sem id, vivamus saepe elementum justo adipiscing dui, quis vivamus, libero vel cursus quod purus. Tempus quis luctus magna quis rhoncus ac, sapien ac eros rhoncus velit donec ut, odio consequat vel, egestas ac in arcu. Lacinia tristique wisi quis eget molestie metus, semper volutpat sed.
        </p>
    </div>
    <div class="section">
        <h1>
            How can you contact me ?
        </h1>
        <p>
            Lorem ipsum dolor sit amet, duis ut dapibus urna porta mauris tincidunt, tempor lacus tristique gravida, mauris magna pharetra ac. Vehicula aenean eget ac dapibus ultricies justo, elit cupiditate pharetra. Dui sed at, ullamcorper nunc blanditiis, velit tortor pellentesque fusce, vulputate ligula nonummy. In elementum egestas magnis turpis, neque nullam id, quis blandit pellentesque mauris molestie, est odio wisi vel wisi faucibus. Potenti lacus morbi magna volutpat est, felis mi malesuada congue sapien libero vitae, duis justo lacus ac, aliquam feugiat dolor etiam sem ut, porta arcu. Eget elit duis arcu a, aut nec nibh velit sem id, vivamus saepe elementum justo adipiscing dui, quis vivamus, libero vel cursus quod purus. Tempus quis luctus magna quis rhoncus ac, sapien ac eros rhoncus velit donec ut, odio consequat vel, egestas ac in arcu. Lacinia tristique wisi quis eget molestie metus, semper volutpat sed.
        </p>
    </div>
</div>
