@import "~src/variables.scss";

.about-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 50px 10%;
    @media screen and (max-width: $desktop-large) {
        margin: 30px 5%;
    }
    @media screen and (max-width: $desktop) {
        flex-direction: column;
    }
    @media screen and (max-width: $mobile-large) {
        margin: 20px 3%;
    }
}

.section {
    margin-right: 5%;
    @media screen and (max-width: $desktop) {
        margin-right: 0;
    }
}

.title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    @media screen and (max-width: 1700px) {
        font-size: 28px;
        line-height: 42px;
    }
    @media screen and (max-width: $desktop-large) {
        font-size: 24px;
        line-height: 36px;
    }
    @media screen and (max-width: $desktop-medium) {
        font-size: 18px;
        line-height: 27px;
    }

    @media screen and (max-width: $mobile-large) {
        font-size: 14px;
        line-height: 21px;
    }
}

#greeting-line {
    margin-bottom: 0.25em;
}

.paragraph {
    margin-top: 20px;
    text-align: justify;
}

#vertical-pic {
    width: 350px;
    @media screen and (max-width: 1700px) {
        width: 300px;
    }
}

#horizontal-pic {
    max-width: 100%;
    height: auto;
}
