@import "~src/variables.scss";

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    max-width: 300px;
}

.image-title {
    color:#616161;
    font-size: 14px;
    margin: 5px auto 0;
    @media screen and (max-width: $tablet) {
        font-size: 12px;
    }
}
