@import "~src/variables.scss";

.card-container {
    text-align: left;
}

.card-image {
    margin-bottom: 15px;
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.subTitle {
    height: 32px;
}