<section aria-labelledby="articles-heading">
    <h1 id="articles-heading">Articles</h1>

    @if (articles$ | async; as articles) {
        <ul class="articles-list">
            @for (a of articles; track a.slug; let i = $index) {
                <li>
                    <a [routerLink]="['/articles', a.slug]" class="article-link">
                        <span class="title">{{ a.title }}</span>
                        <p class="summary">{{ a.summary }}</p>
                        <time [attr.datetime]="a.date">{{ a.date }}</time>
                    </a>
                </li>
            } @empty {
                <li>Nothing here yet.</li>
            }
        </ul>
    } @else {
        <p>Loading…</p>
    }
</section>