<div class="article-container">
    <div class="article-navigation-container">
        <div class="navigation-arrow" matTooltip="go to previous article" matTooltipClass="tooltip" matTooltipPosition="after" (click)="goToPreviousArticle()">
            <mat-icon class="icon" aria-hidden="false" aria-label="Go to previous article">arrow_back</mat-icon>
        </div>
        <div class="title">{{article.title}}</div>
        <div class="navigation-arrow" matTooltip="go to next article" matTooltipClass="tooltip" matTooltipPosition="before" (click)="goToNextArticle()">
            <mat-icon class="icon" aria-hidden="false" aria-label="Go to next article">arrow_forward</mat-icon>
        </div>
    </div>
    <div class="article-content">
        <div class="introduction section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula, turpis non varius consectetur, massa dolor condimentum odio, et scelerisque mi est eu ante. Ut varius arcu sed metus interdum hendrerit. Sed non dictum dui. Etiam sem orci, ornare eget nibh et, ullamcorper tincidunt ex. In hendrerit efficitur ante, vitae luctus dolor suscipit at. Quisque placerat iaculis libero vel maximus. Nullam aliquet tincidunt magna vel pharetra.
        </div>
        <div class="section-title">
            Code review hell
        </div>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula, turpis non varius consectetur, massa dolor condimentum odio, et scelerisque mi est eu ante. Ut varius arcu sed metus interdum hendrerit. Sed non dictum dui. Etiam sem orci, ornare eget nibh et, ullamcorper tincidunt ex. In hendrerit efficitur ante, vitae luctus dolor suscipit at. Quisque placerat iaculis libero vel maximus. Nullam aliquet tincidunt magna vel pharetra.
        </div>
        <div class="section-title">
            Git branching model
        </div>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula, turpis non varius consectetur, massa dolor condimentum odio, et scelerisque mi est eu ante. Ut varius arcu sed metus interdum hendrerit. Sed non dictum dui. Etiam sem orci, ornare eget nibh et, ullamcorper tincidunt ex. In hendrerit efficitur ante, vitae luctus dolor suscipit at. Quisque placerat iaculis libero vel maximus. Nullam aliquet tincidunt magna vel pharetra.
        </div>
        <div class="section-title">
            Pull requests 101
        </div>
        <div class="section-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula, turpis non varius consectetur, massa dolor condimentum odio, et scelerisque mi est eu ante. Ut varius arcu sed metus interdum hendrerit. Sed non dictum dui. Etiam sem orci, ornare eget nibh et, ullamcorper tincidunt ex. In hendrerit efficitur ante, vitae luctus dolor suscipit at. Quisque placerat iaculis libero vel maximus. Nullam aliquet tincidunt magna vel pharetra.
        </div>
    </div>
</div>