<div class="page-container">
    <div class="text">
        <p class="title">
            I am<br/>
            <span class="description" [@fadeOut]="state" (@fadeOut.done)="onDone($event)">{{description}}</span><br/>
            full-stack developer.&nbsp;
        </p>
    </div>
    <div class="stack">
        <div class="stack-container">
            <img class="stack-image" src="https://i.imgur.com/Ckj9PtI.png">
            <div class="stack-label">Java</div>
        </div>
        <div class="stack-container">
            <img class="stack-image spring" src="https://i.imgur.com/qDekD2X.png">
            <div class="stack-label">Spring</div>
        </div>
        <div class="stack-container">
            <img class="stack-image angular" src="https://i.imgur.com/eNxIqQi.png">
            <div class="stack-label">Angular</div>
        </div>
    </div>
</div>